home:
    path:      /
    defaults:  { _controller: AppBundle:Default:index }
    methods: [GET]
list_users:
    path:      /users
    defaults:  { _controller: app.user_controller:listUsersAction }
    methods: [GET]

create_user:
    path:      /users
    defaults:  { _controller: app.user_controller:createUserAction }
    methods: [POST]

list_user:
    path:      /users/{id}
    defaults:  { _controller: app.user_controller:listUserAction }
    methods: [GET]

list_groups:
    path:      /groups
    defaults:  { _controller: app.group_controller:listGroupsAction }
    methods: [GET]

create_group:
    path:      /groups
    defaults:  { _controller: app.group_controller:createGroupAction }
    methods: [POST]

list_group:
    path:      /groups/{id}
    defaults:  { _controller: app.group_controller:listGroupAction }
    methods: [GET]

delete_group:
    path:      /groups/{id}
    defaults:  { _controller: app.group_controller:deleteGroupAction }
    methods: [DELETE]

create_group_user:
    path:      /groups/{id}/users
    defaults:  { _controller: app.group_controller:createGroupUserAction }
    methods: [POST]

delete_group_user:
    path:      /groups/{id}/users
    defaults:  { _controller: app.group_controller:deleteGroupUserAction }
    methods: [DELETE]

list_group_users:
    path:      /groups/{id}/users
    defaults:  { _controller: app.group_controller:listGroupUsersAction }
    methods: [GET]

create_group_schedule:
    path:      /groups/{id}/schedules
    defaults:  { _controller: app.group_controller:createGroupScheduleAction }
    methods: [POST]

delete_group_schedule:
    path:      /groups/{id}/schedules/{id2}
    defaults:  { _controller: app.group_controller:deleteGroupScheduleAction }
    methods: [DELETE]

list_group_schedules:
    path:      /groups/{id}/schedules
    defaults:  { _controller: app.group_controller:listGroupSchedulesAction }
    methods: [GET]

